@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: Nunito;
}
.headernavbar a:hover{
	color: #3498db;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navlink{
	transition: 0.4s;
}
.active_menu{
	font-weight: bold;
	border-bottom: 1px solid #565387;
}
#header{
	margin-top: 30px; 
}
#service_btn{
	padding: 7px 35px;
	border-radius: 30px;
	transition: 0.4s;
	background: #3489db;
	color: #fff;
	text-decoration: none;
	border: 2px solid #3498db;
}
#service_btn:hover{
	border: 2px solid #3498db;
	background:#fff;
	color: #3498db;
}

#contact_btn{
	padding: 7px 35px;
	border-radius: 30px;
	transition: 0.4s;
	text-decoration: none;
	color: #000;
	border: 2px solid #000;
}
#contact_btn:hover{
	border: 2px solid #000;
	background:#000;
	color: #fff;
}

#header .my_name{
	color: #3489db;
}
#header .my_name a{
	text-decoration: none;
}

#header h1{
	margin-bottom: 10px;
	font-weight: 700;
	color: black;
}
#header h2{
	color: #484848;
}
#header .animated, #header_contact .animated{
	animation: header-anim 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes header-anim{
	0%{
		transform: translateY(10px);
	}
	100%{
		transform: translateY(-10px);
	}
}
@keyframes header-anim{
	0%{
		transform: translateY(10px);
	}
	100%{
		transform: translateY(-10px);
	}
}
.about img{
	width: 90%;
	height: auto;
	text-align: right;
}

#about_btn{
	padding: 7px 35px;
	border-radius: 30px;
	transition: 0.4s;
	text-decoration: none;
	color: #3489db;
	border: 2px solid #3489db;
}
#about_btn:hover{
	border: 2px solid #3489db;
	background:#3489db;
	color: #fff;
}

#service .single_card{
	transition: 0.4s;
}
#service .single_card:hover{
	transform: scale(1.04);
}

.contact strong{
	color: #3489db;
}

#text_submit{
	padding: 5px 35px;
	border-radius: 5px;
	background: #3489db;
	transition: 0.4s;
	text-decoration: none;
	color: #fff;
	border: 2px solid #3498db;
}
#text_submit:hover{
	border: 2px solid #3498db;
	background:#fff;
	color: #3498db;
}
#footer_link{
	text-decoration: none;
	color: #000;
}



#header_login .box_main{
	border-radius: 5px;
	box-shadow: 0px 0px 110px #000;
}
#header_logsign strong{
	color: #3489db;
}

#header_logsign #log_btn, #header_logsign #sign_btn{
	text-decoration: none;
	color: #3489db;
	font-weight: 600;
}
#header #logout_btn{
	user-select: none;
	cursor: pointer;
	background: #000;
	border-radius: 5px;
	border: 2px solid #000;
	color: #fff;
	transition: 0.4s;
}
#header #logout_btn:hover{
	background: #fff;
	border-radius: 5px;
	border: 2px solid #000;
	color: #000;
}
#header #createpro_btn{
	user-select: none;
	cursor: pointer;
	background: #3489db;
	border-radius: 5px;
	border: 2px solid #3489db;
	color: #fff;
	transition: 0.4s;
}
#header #createpro_btn:hover{
	background: #fff;
	border-radius: 5px;
	border: 2px solid #3489db;
	color: #3489db;
}